<div class="footer-logo">
  <img src="/src/images/spice-logo.webp" alt="spice of life logo" width="100px" />
  <!-- <p>where flavor meets simplicity</p> -->
  <div class="address">
    <p>245 Main St</p>
    <p>Aledo, TX 76008</p>
  </div>
</div>
<div class="copyright">&copy;2024 Sarah Glenn</div>
<div class="socials">
  <img src="/src/images/facebook.png" alt="facebook icon" width="44px" />
  <img src="/src/images/instagram.png" alt="instagram icon" width="44px" />
  <img src="/src/images/twitter.png" alt="twitter icon" width="44px" />
</div>
