:root {
  --font-headline: 'Gill Sans MT', 'Gill Sans', 'Segoe UI', 'Arial', sans-serif;
  --font-body: Arial, Helvetica, sans-serif;
  /* colors */
  --primary-color: #7bb661;
  --secondary-color: #275d27;
  --accent-color: #ea7434ea;
  --dark-gray: #3c3c3c;
  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
  max-width: 90%;
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
a,
button {
  cursor: pointer;
}
header {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.hidden {
  display: none;
}
.login-and-favorites {
  margin-top: 20px;
  margin-right: 0;
  align-self: flex-end;
  background-color: var(--secondary-color);
  width: 100%;
  text-align: right;
  padding: 0.5rem;
}
.login-and-favorites a {
  color: white;
  padding: 0.5rem;
}
.login-and-favorites a:hover {
  background-color: var(--primary-color);
}
.bottom-row {
  display: flex;
  justify-content: space-between;
}
.logo {
  align-self: flex-start;
}
/*
.logo p {
  align-self: flex-end;
  color: var(--secondary-color);
} */
.search-div {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  width: 50%;
  margin-top: 1rem;
  padding-right: 10px;
  align-self: flex-end;
  position: absolute;
  top: 50px;
  right: 40px;
}
#search-bar {
  width: 60%;
  font-size: var(--small-font);
  border: 2px solid var(--primary-color);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
#search-button {
  margin: 0;
  padding: 5px;
  font-size: 1rem;
}

h1 {
  text-align: center;
  color: var(--secondary-color);
}
.mission {
  max-width: 80%;
  display: flex;
  gap: 1em;
  margin: 1em auto;
  /* flex-wrap: wrap; */
}
.mission img {
  max-width: 400px;
  height: auto;
  /* flex-grow: 0; */
  align-self: center;
  margin: 0 auto;
  box-shadow: 2px 2px 5px var(--secondary-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.purpose {
  margin-right: 2em;
}
.purpose p {
  min-width: 300px;
  text-align: center;
}
hr {
  max-width: 75%;
  margin: 50px auto;
}
h2 {
  margin: 20px 30px;
  text-transform: capitalize;
}
.cuisine {
  text-align: center;
  font-size: 2em;
}
.cuisine-icons-grid img,
.diet-icons-grid img {
  width: 100%;
  height: auto;
  max-width: 200px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.cuisine-categories,
.diet-categories {
  max-width: 85%;
  margin: 60px auto;
}
.cuisine-icons-grid,
.diet-icons-grid {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cuisine-icons-grid li,
.diet-icons-grid li {
  flex: 1 1 calc(25% - 20px); /* Make each item take up 25% of the space minus the gap */
  text-align: center;
  box-sizing: border-box;
}

/* Newsletter styling */
.subscribe {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: 50px auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 3px 3px 2px var(--dark-gray);
}
.newsletter {
  padding: 2rem;
}
dialog div {
  display: flex;
  justify-content: space-between;
}
dialog {
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 7px;
  border: var(--secondary-color);
}
::backdrop {
  background-color: rgba(162, 162, 162, 0.695);
}
#closeBtn {
  padding: 0;
  width: 44px;
  height: 44px;
  margin-left: auto;
  margin-right: -8px;
}
.newsletter dialog form fieldset label {
  display: block;
}
.required {
  color: red;
}
.newsletter dialog form fieldset input {
  margin: 0.5rem;
}
.newsletter dialog form {
  padding: 1rem;
}
input:invalid {
  border: 2px solid red;
}
input:valid {
  border: 2px solid green;
}
#submitBtn {
  padding: 0.8rem;
  margin: 1rem auto;
  display: block;
  background-color: var(--secondary-color);
  color: white;
  border: 1px solid darkgray;
  font-size: 1.3rem;
  cursor: pointer;
}
/* Recipe list */
.sort {
  margin: 50px 0 20px 30px;
}
.icon-container {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: .5rem;
  padding-right: .6rem;
  /* display: flex; */
}
.fav-icon {
  font-size: 1.3em;
  align-self: center;
  cursor: pointer;
}
.recipe-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}
.recipe-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 45%;
  margin: 1em;
  padding: 0.75em;
  border: 1px solid rgba(128, 128, 128, 0.534);
  max-width: 250px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: auto;
  position: relative;
}
.recipe-card:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.recipe-card img {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-top: 1.5rem;
}
.recipe-card .recipe-name {
  margin: 0.5rem 0;
  flex-grow: 1;
}
#quick-view-btn {
  margin-top: auto;
  height: 44px;
  background-color: var(--accent-color);
  font-size: var(--font-base);
  border-radius: 3px;
  padding: 0.5rem 1rem;
  border: none;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}
#quick-view-btn:hover {
  background-color: #ea74347c;
}
#quick-view-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  margin: auto;
  padding: 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  max-height: 80%;
  background: white;
  place-items: center;
  border: black 2px solid;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 3);
  overflow-y: auto;
}
::backdrop {
  background-color: rgba(162, 162, 162, 0.695);
}
#quick-name {
  text-align: center;
  padding-top: 20px;
}
#close-quick-details {
  height: 44px;
  width: 44px;
  border: var(--secondary-color) 2px solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
/* Recipe details page  */
.recipe-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h3 {
  text-align: center;
  margin: 5px auto;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#recipeImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px var(--dark-gray);
  border-radius: 5px;
}
.button-container {
  display: flex;
  gap: 20px;
}
.button-container button {
  height: 44px;
  background-color: var(--accent-color);
  font-size: var(--font-base);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
#recipeSummary {
  max-width: 90%;
  margin: 20px auto;
  /* line-height: 1.6;  */
}
.ingredients-list {
  line-height: 1.5;
  list-style: disc;
}
#recipeInstructions {
  line-height: 1.3;
}
.recommendedRecipes {
  display: flex;
  justify-content: space-between;
}
.recommendedRecipes li h4 {
  color: var(--dark-gray);
  text-decoration: underline var(--accent-color);
}
/* Login page */
.loginWrapper {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}
.login form {
  display: block;
}
.login label,
.login input {
  display: block;
  width: 60%;
  padding: 0.5rem;
}
.login button {
  display: block;
  height: 44px;
  width: 50%;
  margin-top: 2rem;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.4rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.footer {
  position: relative;
  bottom: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 10px auto;
  padding-bottom: 30px;
}
.footer-logo {
  display: flex;
  gap: 1em;
  align-items: flex-end;
}
.footer-logo .address {
  font-size: var(--small-font);
  line-height: 1.2;
  color: var(--dark-gray);
}
.footer-logo .address p {
  margin: 0 0 10px 0;
}
.footer .socials,
.footer .copyright {
  align-self: flex-end;
  margin: 0 0 10px 0;
}
@media (max-width: 950px) {
  .mission {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }

  .mission img {
    width: 100%;
    max-width: 400px;
    margin-top: 1em;
  }
}
