:root {
  --font-headline: 'Gill Sans MT', 'Gill Sans', 'Segoe UI', 'Arial', sans-serif;
  --font-body: Arial, Helvetica, sans-serif;
  /* colors */
  --primary-color: #7bb661;
  --secondary-color: #275d27;
  --accent-color: #ef6f6c;
  --dark-gray: #3c3c3c;
  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-gray);
}
img {
  max-width: 100%;
}
