<div class="login-and-favorites">
  <a href="/favorites/index.html" class="hidden" id="favorites">Favorites</a>
  <a href="/login/index.html" id="login">Login</a>
  <a href="/index.html" id="logout" class="hidden">Logout</a>
</div>
<div class="bottom-row">
<div class="logo">
  <a href="/index.html"
    ><img src="images/spice-logo.webp" alt="spice of life logo" width="150px"
  /></a>
  <!-- <p>Where flavor meets simplicity</p> -->
</div>

<div class="search-div">
  <input
    aria-label="Search Bar"
    id="search-bar"
    class="search-input"
    type="text"
    name="search"
    placeholder="search items"
    value=""
  />
  <button
    aria-label="Search Button"
    class="search-button"
    id="search-button"
    type="submit"
  >
    Search
  </button>
</div>
</div>
